<h2>All workers</h2>
<div class="all-workers">
	<div class="worker" *ngFor="let w of workers">{{w.firstName}} {{w.lastName}}</div>
</div>

<h2>Select a Date</h2>
<mat-form-field>
	<mat-label>Choose a date</mat-label>
	<input matInput [matDatepicker]="picker" (focus)="picker.open()" (dateChange)="dateChanged($event)">
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-datepicker #picker></mat-datepicker>
</mat-form-field>
