:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.all-workers {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
}

h2 {
  margin-top: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
}

.worker {
  width: 100%;
  line-height: 2.5em;
  text-align: center;
  cursor: move;
  box-sizing: border-box;
  background-color: white;
}

.worker:not(:last-child) {
  border-bottom: 1px dashed grey;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border: 1px dashed grey;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}